<header class="app-header">
  <div class="header-left">
    <button 
      type="button" 
      class="menu-toggle"
      (click)="toggleSidebar()"
    >
      <i class="pi pi-align-justify"></i>
    </button>
    
    <div class="logo">
      <img src="assets/images/nome_sm.png" alt="Taurus" class="logo-img">
    </div>
  </div>

  <div class="header-right">
    <!-- Notificações -->
    <button 
      pButton 
      type="button" 
      icon="pi pi-bell" 
      class="p-button-text p-button-rounded"
      pTooltip="Notificações"
      tooltipPosition="bottom"
      pBadge="3"
      badgeClass="p-badge-danger"
    ></button>

    <!-- Menu do Usuário -->
    <div class="user-menu">
      <button 
        pButton 
        type="button" 
        #userButton
        [label]="firstName"
        [title]="firstName"
        icon="pi pi-user"
        iconPos="left"
        class="p-button-text user-button"
        (click)="toggleUserMenu($event)"
      ></button>
      
      <p-menu 
        #userMenu 
        [model]="userMenuItems" 
        [popup]="true"
        appendTo="body"
        [baseZIndex]="11000"
        styleClass="user-menu-overlay"
        [style]="{ 'margin-top': '0.5rem', width: menuWidth + 'px' }">
      </p-menu>
    </div>
  </div>
</header>
