.text-muted {
  color: #6c757d;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.text-sm {
  font-size: 0.875rem;
}

:host ::ng-deep {
  .p-badge.p-badge-lg {
    font-size: 1rem;
    min-width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
}
