.lista-container {
  padding: 1rem;
  max-width: 100%;
  overflow-x: hidden;
}

::ng-deep {
  // Força scroll horizontal no mobile
  @media (max-width: 768px) {
    .p-datatable-wrapper {
      overflow-x: auto !important;
      -webkit-overflow-scrolling: touch;
    }
    
    .p-datatable table {
      min-width: 768px; // Define largura mínima para forçar scroll horizontal
    }
  }
}
