<div class="input-textarea-container" [ngClass]="styleClass">
  <span class="p-float-label" [ngClass]="{'p-input-filled': value && value.length > 0}">
    <textarea 
      [id]="inputId"
      pInputTextarea
      [value]="value"
      (input)="onInputChange($event)"
      (blur)="onBlur()"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [rows]="rows"
      [attr.maxlength]="maxlength"
      [autoResize]="autoResize"
      [required]="required"
      [class.ng-invalid]="isInvalid"
      [class.ng-dirty]="isInvalid">
    </textarea>
    <label [for]="inputId" [ngClass]="{'p-label-active': value && value.length > 0}">{{ displayLabel }}</label>
  </span>
  <small class="p-error" *ngIf="isInvalid">
    {{ displayErrorMessage }}
  </small>
</div>
