.lista-container {
  padding: 1.5rem;

  .bloco-unidade {
    font-family: monospace;
    font-size: 0.9rem;
    color: #374151;
  }

  .cliente-info {
    display: flex;
    flex-direction: column;

    .cliente-nome {
      font-weight: 500;
      font-size: 0.875rem;
    }

    .cliente-cpf {
      color: #6b7280;
      font-size: 0.775rem;
    }
  }

  .tipologia-texto {
    color: #6b7280;
    font-size: 0.8rem;
  }
}
