.lista-container {
  padding: 0 0.5rem;
}

.acoes-header {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

@media (max-width: 768px) {
  .acoes-header {
    flex-direction: column;
    width: 100%;

    > * {
      width: 100%;
    }
  }
}
