<div class="lista-container">
  <!-- Breadcrumb -->
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

  <!-- Page Header -->
  <app-page-header
    title="Usuários"
    subtitle="Gerencie os usuários do sistema"
    icon="pi pi-users"
    [actions]="headerActions">
  </app-page-header>

  <!-- Tabela de Usuários -->
  <app-data-table
    [data]="usuarios"
    [columns]="colunas"
    [actions]="acoes"
    [totalRecords]="totalRecords"
    [loading]="carregando"
    (onSearch)="onBuscar($event)">
    
    <!-- Template para CPF -->
    <ng-template appTableTemplate="cpf" let-usuario="rowData">
      {{ formatarCPF(usuario.cpf) }}
    </ng-template>
    
    <!-- Template para Data de Expiração -->
    <ng-template appTableTemplate="expiracao" let-usuario="rowData">
      <span *ngIf="usuario.dataExpiracao; else ilimitado">
        {{ formatarData(usuario.dataExpiracao) }}
      </span>
      <ng-template #ilimitado>
        <p-tag value="Ilimitado" severity="info"></p-tag>
      </ng-template>
    </ng-template>
    
    <!-- Template para Status -->
    <ng-template appTableTemplate="status" let-usuario="rowData">
      <p-tag 
        [value]="usuario.ativo ? 'Ativo' : 'Inativo'" 
        [severity]="usuario.ativo ? 'success' : 'danger'">
      </p-tag>
    </ng-template>
  </app-data-table>
</div>
