<div class="input-text-container" [ngClass]="styleClass">
  <span class="p-float-label" [class.p-input-filled]="shouldShowLabel">
    <input 
      [id]="inputId"
      [type]="type"
      pInputText
      [value]="value"
      (input)="onInputChange($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [attr.maxlength]="maxlength"
      [required]="required"
      [class.p-filled]="shouldShowLabel"
      [class.ng-invalid]="isInvalid"
      [class.ng-dirty]="isInvalid">
    <label [for]="inputId">{{ displayLabel }}</label>
  </span>
  <small class="p-text-secondary" *ngIf="helper && !isInvalid" style="display: block; margin-top: 0.25rem;">
    {{ helper }}
  </small>
  <small class="p-error" *ngIf="isInvalid">
    {{ displayErrorMessage }}
  </small>
</div>
