<div class="input-cpf-container" [ngClass]="styleClass">
  <span class="p-float-label">
    <input 
      [id]="inputId"
      type="text"
      inputmode="numeric"
      pattern="[0-9]*"
      pInputText
      [value]="value"
      (keydown)="onKeyDown($event)"
      (input)="onInputChange($event)"
      (blur)="handleBlur()"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [readonly]="readonly"
      [maxLength]="inputMaxLength"
      [required]="required"
      [class.ng-invalid]="isInvalid"
      [class.ng-dirty]="isInvalid">
    <label [for]="inputId">{{ displayLabel }}</label>
  </span>
  <small class="p-error" *ngIf="isInvalid">
    {{ displayErrorMessage }}
  </small>
</div>
