<div class="p-field autocomplete-field">
  <span class="p-float-label" [class.p-input-filled]="shouldShowLabel">
    <div class="autocomplete-wrapper">
      <p-autoComplete
        #autoComplete
        [id]="inputId"
        [(ngModel)]="value"
        [suggestions]="suggestions"
        (completeMethod)="onFilter($event)"
        (ngModelChange)="onValueChange($event)"
        (onFocus)="onFocus()"
        (onBlur)="onBlur()"
        [field]="field"
        [forceSelection]="true"
        [disabled]="disabled"
        [emptyMessage]="emptyMessage"
        [class.ng-invalid]="isInvalid"
        [class.ng-dirty]="showValidation">
      <ng-template let-item pTemplate="item">
        <ng-container *ngIf="itemTemplate; else defaultTemplate">
          <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: item }"></ng-container>
        </ng-container>
        <ng-template #defaultTemplate>
          <div>{{ item[field] }}</div>
        </ng-template>
      </ng-template>
      </p-autoComplete>
      <i class="pi pi-chevron-down autocomplete-icon"
        [class.disabled]="disabled"
        (click)="!disabled && mostrarTodasOpcoes()"></i>
    </div>
    <label [for]="inputId">{{ displayLabel }}</label>
  </span>
  <small class="p-error" *ngIf="isInvalid">
    {{ displayErrorMessage }}
  </small>
</div>

