<div class="input-password-container" [ngClass]="styleClass">
  <span class="p-float-label">
    <p-password 
      [id]="inputId"
      [(ngModel)]="value"
      (ngModelChange)="onInputChange($event)"
      (onBlur)="onBlur()"
      [disabled]="disabled"
      [feedback]="feedback"
      [toggleMask]="toggleMask"
      inputId="{{inputId}}"
      autocomplete="{{autocomplete}}"
      styleClass="w-full"
      [class.ng-invalid]="isInvalid"
      [class.ng-dirty]="isInvalid">
    </p-password>
    <label [for]="inputId">{{ displayLabel }}</label>
  </span>
  <small class="p-error" *ngIf="isInvalid">
    {{ displayErrorMessage }}
  </small>
</div>
